

<header>
  <!--Logo-------------------------------------------------->
  <div class="logo ">
    <a href="">
    <img [src]="'/assets/images/nex_movie_logo.png'" alt="logo" class="logo-image">
    </a>
  </div>

  <!--Navigation-------------------------------------------------->
  <div class="navigation">
    <ul class="navigation-menu">
      <li>
        <a routerLink="/"
           [routerLinkActive]="['active']"
           class="navigation-menu-link roboto-thin">Home</a></li>
      <li >
        <a routerLink="/movies-list"
           [routerLinkActive]="['active']"
           class="navigation-menu-link roboto-thin">Movies</a></li>
      <li>
        <a href=""
           [routerLinkActive]="['active']"
           class="navigation-menu-link roboto-thin">TV Shows</a></li>
      <li>
        <a href=""
           [routerLinkActive]="['active']"
           class="navigation-menu-link roboto-thin">Genres</a></li>
    </ul>
  </div>
</header>
