
<!-- Slider --------------->
<div class="slider">
  <div class="slider-item">
    <!-- slider image -------------------------------------->
    <div class="slider-item-bg">
      <img
        [src]="'https://www.hdwallpapers.in/download/timothee_chalamet_zendaya_rebecca_ferguson_stellan_skarsgard_hd_dune_2-2560x1440.jpg'"
        class="slider-item-bg-img"
        alt="">
    </div>
    <!-- Slider item content-------------------------------->
    <div class="slider-item-content">
      <!-- Title---------------------------------------------->
      <h2 class="slider-item-content-title">Slide Title </h2>

      <!-- Metadata : rating and votes------------------------>
      <div class="slider-item-content-metadata">
        <!-- rating-------------------------------------------->
        <div class="slider-item-content-metadata-rating mb-1">
          <i>start-icon</i>
          <span>8.0</span>
          <span>/10</span>
        </div>
        <!-- votes-------------------------------------------->
        <div class="slider-item-content-metadata-votes mb-1">
          <i>vote-icon</i>
          <span>4433</span>
        </div>

        <!-- release date-------------------------------------------->
        <div class="slider-item-content-metadata-release mb-4">
          20.06.2024
        </div>

        <!-- description-------------------------------------------->
        <div class="slider-item-content-metadata-description ">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, voluptatum.
        </div>
      </div>
    </div>
  </div>
</div>
