
<!-- Slider --------------->
<div class="slider" *ngIf="movies$ | async as movies">
  <ng-container *ngFor="let movie of movies.results; index as movieIndex " >
  <div
    class="slider-item"
    *ngIf="movieIndex === slideIIndex" @slideFade>

    <!-- slider image -------------------------------------->
    <div class="slider-item-bg">
      <img
        [src]=" imagesBaseUrl + imagesSizes.original + movie.poster_path"
        class="slider-item-bg-img"
        [alt]="movie.title" >
    </div>
    <!-- Slider item content-------------------------------->
    <div class="slider-item-content">
      <!-- Title---------------------------------------------->
      <h2 class="slider-item-content-title">{{movie.title}} </h2>

      <!-- Metadata : rating and votes------------------------>
      <div class="slider-item-content-metadata">
        <!-- rating-------------------------------------------->
        <div class="slider-item-content-metadata-rating mb-1">
          <i class="pi pi-star-fill"></i>
          <span>{{movie.vote_average}}</span>
          <span>/10</span>
        </div>
        <!-- votes-------------------------------------------->
        <div class="slider-item-content-metadata-votes mb-1">
          <i class="pi pi-users"></i>
          <span>{{movie.vote_count}}</span>
        </div>

        <!-- release date-------------------------------------------->
        <div class="slider-item-content-metadata-release mb-4">
          <i class="pi pi-calendar"></i>
          <span>{{movie.release_date | date : "yyyy"}}</span>
        </div>

        <!-- description-------------------------------------------->
        <div class="slider-item-content-metadata-description ">
          {{movie.overview}}

        </div>
      </div>
    </div>
    </div>
  </ng-container>
  </div>





